<h2>
<%= @travel_destination.location %><br>
</h2>

<p>
Description: <%= @travel_destination.description %>
<br>
Rating &#9733&#9733&#9733&#9733&#9733 : <%= @travel_destination.rating %>
</p>

<
<a href="/travel_destinations/<%= @travel_destination.id %>/edit">Edit</a><br>

<form action="/travel_destinations/<%= @travel_destination.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete From Bucket List">
</form>

